@model PopCinema.Models.Categorias

@{
    ViewBag.Title = "Details";
}

<h2 style="color:white; font-weight:400; text-align:center"> @Model.Nome</h2>
@if (User.IsInRole("Admin"))
{
    <p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.ID })</p>

}
<div style="color:white; font-weight:400; background-color:black">
    <hr />

    <div style=" display:flex; flex-wrap:wrap; flex-direction:row; justify-content:space-around; align-content:center; margin-top:30px;">
        @foreach (var item in Model.ListaFilmes)
        {

            <div style="padding-top: 15px">
                <a href="~/Filmes/Details/@item.ID">
                    <img src="~/imagens/CapasFilmes/@item.Capa" height="250" />
                    <figcaption style=" text-align: center">@item.Titulo</figcaption>
                </a>

            </div>
        }

    </div>
</div>
<hr />
@if (User.IsInRole("Admin"))
{
    <p style="color:white; font-weight:400; background-color:black">@Html.ActionLink("Delete Category", "Delete")</p>
}
<p style="color:white; font-weight:400; background-color:black">
    @Html.ActionLink("Back to List", "Categories")
</p>
