@model PopCinema.Models.Atores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Nome</h4>
    <hr />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <div>
        <div style="width: 100%; overflow: hidden;display: flex;">
            <div style="width: 40px; float: left;">
               
                <img src="~/Imagens/FotoAtores/@Model.FotoAtor" height="400" />
                <hr />
            </div>
            <div style="margin-left: 200px;">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nacionalidade)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nacionalidade)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Sexo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Biografia)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Biografia)
                    </dd>
                </dl>
            </div>
        </div>

        <div style="clear: both; width: inherit; height: auto; position: static; ">

            <h4>Filmes</h4>

            <table class="table">

                <tr>

                    <th>@Html.DisplayNameFor(model => model.ListaPersonagens.FirstOrDefault().Personagem)</th>

                    <th>@Html.DisplayNameFor(model => model.ListaPersonagens.FirstOrDefault().Filme.Titulo)</th>


                </tr>
                @foreach (var ator in Model.ListaPersonagens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => ator.Personagem)
                        </td>
                        <td>
                            <a href="~/Filmes/Details/@ator.Filme.ID">
                                @ator.Filme.Titulo
                            </a>

                            
                        </td>


                    </tr>
                }
            </table>
        </div>
        <hr />
    </div>
