@model PopCinema.Models.FilmesUtilizadores

@{
    ViewBag.Title = "Details";
}


@if (User.IsInRole("Admin"))
{
    <p style="color:white; font-weight:400; background-color:black">@Html.ActionLink("Edit Movie", "Edit", new { id = Model.ID })</p>
    <p style="color:white; font-weight:400; background-color:black">@Html.ActionLink("Delete Movie", "Delete")</p>
}
<div style="color:white; font-weight:400; background-color:black">
    <h4>FilmesUtilizadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filme.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>
</div>
<p style="color:white; font-weight:400; background-color:black">

    @Html.ActionLink("Back to List", "Index")
</p>
