@model PopCinema.Models.Filmes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Filmes</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Titulo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Titulo)
		</dd>
		<dt>

		</dt>

		<dd>
			@Html.DisplayFor(model => model.Capa)
			<img src="~/Imagens/CapasFilmes/@Model.Capa" height="400" />
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Ano)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Ano)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Sinopse)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Sinopse)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Trailer)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Trailer)
		</dd>

	</dl>

	<hr />

	<h4>Lista de Atores</h4>

	<table class="table">

		<tr>

			<th>@Html.DisplayNameFor(model => model.Atores.FirstOrDefault().ID)</th>

			<th>@Html.DisplayNameFor(model => model.Atores.FirstOrDefault().Nome)</th>

			<th>@Html.DisplayNameFor(model => model.Atores.FirstOrDefault().Nacionalidade)  </th>

			<th>@Html.DisplayNameFor(model => model.Atores.FirstOrDefault().Sexo)</th>


		</tr>
		@foreach (var ator in Model.Atores)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => ator.ID)
			</td>
			<td>
				@ator.Nome
			</td>
			<td>
				@ator.Nacionalidade
			</td>
			<td>
				@ator.Sexo
			</td>
		</tr>
		}
	</table>
	<hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
